@model UserViewModel

<h2>User</h2>
<p>@Model.Id</p>
<p>@Model.Email</p>
<p>@Model.Username</p>
<h3>User Claims</h3>
<p>@Model.Name</p>
<p>@Model.GivenName</p>
<p>@Model.FamilyName</p>
<p>@Model.Picture</p>
<p>@Model.Gender</p>
<p>@Model.Birthdate</p>
<p>@Model.Website</p>