@model PostPageViewModel

@{
    ViewData["Title"] = Model.Post.Title;
    var commentsCount = Model.Comments.Count().ToString();
}

<h3>@Model.Post.Title Details</h3>
<div class="row mb-4">
    @{
        if ((ViewData["UserId"] != null) && ((string) ViewData["UserId"] == Model.Post.Author.Id))
        {
            <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-sm btn-warning mr-2">Edit</a>
        }
    }
    <a asp-action="Index" class="btn btn-sm btn-success">Back to List</a>
</div>
<div>
    <h4>Post</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Votes
        </dt>
        <dd class="col-sm-10">
            <div class="list-inline">
                <form asp-action="VotePost" asp-controller="Posts" asp-route-postId="@Model.Post.Id" method="post" class="list-inline-item">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PostVoteDto.Direction" value="1"/>
                    <input type="hidden" asp-for="PostVoteDto.UserId" value="@ViewData["UserId"]"/>
                    <input type="hidden" asp-for="PostVoteDto.PostId" value="@Model.Post.Id"/>

                    <input type="submit" value="Upvote" class="btn btn-primary"/>
                </form>
                <span class="list-inline-item">@Html.DisplayFor(model => model.Post.VoteCount)</span>
                <form asp-action="VotePost" asp-controller="Posts" asp-route-postId="@Model.Post.Id" method="post" class="list-inline-item">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PostVoteDto.Direction" value="-1"/>
                    <input type="hidden" asp-for="PostVoteDto.UserId" value="@ViewData["UserId"]"/>
                    <input type="hidden" asp-for="PostVoteDto.PostId" value="@Model.Post.Id"/>

                    <input type="submit" value="Downvote" class="btn btn-primary"/>
                </form>
            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Author.UserName)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Post.Author.Id">
                @Html.DisplayFor(model => model.Post.Author.UserName)
            </a>
        </dd>
        <dt class="col-sm-2">
            Category @Html.DisplayNameFor(model => model.Post.Category.Name)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Category" asp-action="Details" asp-route-name="@Model.Post.Category.Name">
                @Html.DisplayFor(model => model.Post.Category.Name)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
    </dl>

    <div class="row">
        <div class="col-sm-8">
            <h5>Add Comment</h5>
            <form asp-action="Create" asp-controller="Comments" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CommentDto.Content" class="control-label"></label>
                    <input asp-for="CommentDto.Content" class="form-control"/>
                    <span asp-validation-for="CommentDto.Content" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="CommentDto.AuthorId" class="form-control" value="@ViewData["UserId"]"/>
                <input type="hidden" asp-for="CommentDto.PostId" class="form-control" value="@Model.Post.Id"/>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>

            <h3>@commentsCount Comment</h3>
            @{
                foreach (CommentViewModel comment in Model.Comments)
                {
                    <div class="card-body">
                        <div class="text-muted h7 mb-2">
                            <i class="fa fa-clock-o"></i> @comment.CreatedAt
                            @{
                                if ((ViewData["UserId"] != null) && ((string) ViewData["UserId"] == comment.Author.Id))
                                {
                                    <a asp-action="Edit" asp-controller="Comments" asp-route-id="@comment.Id" class="btn btn-sm btn-warning mr-2">
                                        Edit
                                    </a>

                                    <form asp-action="Delete" asp-controller="Comments" asp-route-id="@comment.Id" asp-route-postId="@Model.Post.Id">
                                        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                    </form>
                                }
                            }
                        </div>
                        <a class="card-link" href="#">
                            <a class="card-title" asp-controller="Profile" asp-action="Index" asp-route-id="@comment.Author.Id">@comment.Author.UserName</a>
                        </a>

                        <p class="card-text">
                            @comment.Content
                            <div>
                                Votes
                                <div class="list-inline">
                                    <form asp-action="VoteComment" asp-controller="Comments" asp-route-commentId="@comment.Id" method="post" class="list-inline-item">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="CommentVoteDto.Direction" value="1"/>
                                        <input type="hidden" asp-for="CommentVoteDto.UserId" value="@ViewData["UserId"]"/>
                                        <input type="hidden" asp-for="CommentVoteDto.CommentId" value="@comment.Id"/>
                                        <input type="hidden" asp-for="CommentVoteDto.PostId" value="@comment.Post.Id"/>

                                        <input type="submit" value="Upvote" class="btn btn-sm btn-primary"/>
                                    </form>
                                    <span class="list-inline-item">@Html.DisplayFor(model => comment.VoteCount)</span>
                                    <form asp-action="VoteComment" asp-controller="Comments" asp-route-commentId="@comment.Id" method="post" class="list-inline-item">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="CommentVoteDto.Direction" value="-1"/>
                                        <input type="hidden" asp-for="CommentVoteDto.UserId" value="@ViewData["UserId"]"/>
                                        <input type="hidden" asp-for="CommentVoteDto.CommentId" value="@comment.Id"/>
                                        <input type="hidden" asp-for="CommentVoteDto.PostId" value="@comment.Post.Id"/>

                                        <input type="submit" value="Downvote" class="btn btn-sm btn-primary"/>
                                    </form>
                                </div>
                            </div>
                        </p>
                    </div>
                }
            }
        </div>
    </div>
</div>