@using Violetum.ApplicationCore.ViewModels.Post
@model ProfilePageViewModel

@{

}

<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@Model.Profile.Picture" alt="@Model.Profile.Id">
            <div class="card-body">
                <h5 class="card-title">@Model.Profile.Name</h5>
                <p class="card-text">
                    <em>Username:</em> @Model.Profile.Username
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <em>Email:</em> @Model.Profile.Email
                </li>
                <li class="list-group-item"><em>Info:</em> @Model.Profile.Birthdate | @Model.Profile.Gender</li>
                <li class="list-group-item">@Model.Profile.Id</li>
                <li class="list-group-item">
                    <a href="@Model.Profile.Website" class="card-link">Website</a>
                    <a asp-action="Followers" asp-route-id="@Model.Profile.Id" class="btn btn-sm btn-info ml-2">Followers</a>
                    <a asp-action="Following" asp-route-id="@Model.Profile.Id" class="btn btn-sm btn-info ml-1">Following</a>
                </li>
            </ul>
            <div class="card-body">
                @{
                    if (ViewData["UserId"] != null)
                    {
                        if ((string) ViewData["UserId"] == Model.Profile.Id)
                        {
                            <a asp-action="Edit" asp-controller="Profile" class="btn btn-warning">Edit Profile</a>
                        }
                        else
                        {
                            if (Model.IsAuthenticatedUserFollower)
                            {
                                <form asp-action="Unfollow" asp-controller="Profile" asp-route-id="@Model.Profile.Id">
                                    <input type="hidden" asp-for="FollowerDto.UserToFollowId" value="@Model.Profile.Id">
                                    <input type="hidden" asp-for="FollowerDto.FollowerUserId" value="@ViewData["UserId"]">
                                    <input type="submit" class="btn btn-sm btn-success" value="Unfollow">
                                </form>
                            }
                            else
                            {
                                <form asp-action="Follow" asp-controller="Profile" asp-route-id="@Model.Profile.Id">
                                    <input type="hidden" asp-for="FollowerDto.UserToFollowId" value="@Model.Profile.Id">
                                    <input type="hidden" asp-for="FollowerDto.FollowerUserId" value="@ViewData["UserId"]">
                                    <input type="submit" class="btn btn-sm btn-success" value="Follow">
                                </form>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h3>Posts</h3>
        <div>
            Sort By:
            <a asp-action="Index" asp-route-postPage="@ViewData["CurrentPageParm"]" asp-route-postSortBy="VoteCount" asp-route-postDir="desc">
                Upvotes
            </a>
            <a asp-action="Index" asp-route-postPage="@ViewData["CurrentPageParm"]" asp-route-postSortBy="VoteCount" asp-route-postDir="asc">
                Downvotes
            </a>
            |
            <a asp-action="Index" asp-route-postPage="@ViewData["CurrentPageParm"]" asp-route-postSortBy="CreatedAt" asp-route-postDir="asc">ASC</a>
            <a asp-action="Index" asp-route-postPage="@ViewData["CurrentPageParm"]" asp-route-postSortBy="CreatedAt" asp-route-postDir="desc">DESC</a>
            CreatedAt
        </div>
        @foreach (PostViewModel post in Model.Posts)
        {
            <div class="card">
                <h5 class="card-header">
                    <a asp-action="Details" asp-controller="Posts" asp-route-id="@post.Id">@post.Title</a>
                    -
                    <small>
                        <em>@post.Category.Name</em>
                    </small>
                </h5>
                <div class="card-body">
                    <p class="card-text mb-5">@post.Content</p>
                    <small style="display: block">
                        <strong>Votes:</strong> <em>@post.VoteCount.ToString()</em>
                    </small>
                    <small style="display: block">
                        <strong>Creation Date:</strong> <em>@post.CreatedAt</em>
                    </small>
                    <small style="display: block">
                        <strong>Update Date:</strong> <em>@post.UpdatedAt</em>
                    </small>

                    <div class="mt-2">
                        @{
                            if ((ViewData["UserId"] != null) && ((string) ViewData["UserId"] == post.Author.Id))
                            {
                                <a asp-action="Edit" asp-controller="Posts" asp-route-id="@post.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-controller="Posts" asp-route-id="@post.Id" class="btn btn-danger">Delete</a>
                            }
                        }
                    </div>
                </div>
            </div>
        }

        @{
            var currentPage = (int) ViewData["CurrentPageParm"];

            bool hasPreviousPage = currentPage > 1;
            bool hasNextPage = currentPage < (int) ViewData["totalPages"];

            string prevDisabled = !hasPreviousPage ? "disabled" : "";
            string nextDisabled = !hasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-postPage="@(currentPage - 1)"
           asp-route-postSortBy="@ViewData["SortByParm"]"
           asp-route-postDir="@ViewData["OrderByDirParm"]"
           class="btn btn-default @prevDisabled">
            Prev Page
        </a>
        <a asp-action="Index"
           asp-route-postPage="@(currentPage + 1)"
           asp-route-postSortBy="@ViewData["SortByParm"]"
           asp-route-postDir="@ViewData["OrderByDirParm"]"
           class="btn btn-default @nextDisabled">
            Next Page
        </a>
    </div>
</div>